@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100px;
    .ceviche-one-regular {
        font-family: "Ceviche One", system-ui;
        font-weight: 400;
        font-style: normal;
      }
      
}