[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = ELSEOCEAN
	
[core]
	editor = \"C:\\Users\\afranio\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" 
