@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
body{
    margin: 0;
    padding: 0;
    height: 100px;
    font-family: "Ceviche One", system-ui; 
}
.banner{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner video {
         position: fixed;
         top: 0;
         left: 0;
         object-fit: cover;
         width: 100%;
}